<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.liuhui.ceremony.app"
    xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/BaseAppTheme_Light">
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.LoginActivity"/>
        <activity android:name=".ui.activity.RegisterActivity"/>
        <activity android:name=".ui.activity.MainActivity"/>
        <activity android:name=".ui.activity.ForgetPasswordActivity"/>
        <activity android:name=".ui.activity.SettingActivity"/>
        <activity android:name=".ui.activity.SecuritySettingActivity"/>
        <activity android:name=".ui.activity.PersonalInfoActivity"/>
        <activity android:name=".ui.activity.RecordActivity"/>
        <activity android:name=".ui.activity.DiscoverGralleryActivity"/>
        <activity android:name=".ui.activity.NoticeSettingActivity"/>
        <activity android:name=".ui.activity.ChangeMobileActivity"/>
        <activity android:name=".ui.activity.EditPersonalLabelActivity"/>
        <activity android:name=".ui.activity.DiscoverMsgTemplateActivity"/>
    </application>

</manifest>
